body {
 scrollbar-base-color: FFFFC8;
 scrollbar-3dlight-color: FFFFC8;
 scrollbar-arrow-color: 000000;
 scrollbar-darkshadow-color: FFFFC8;
 scrollbar-face-color: F0F0AA;
 scrollbar-highlight-color: FFFFC8;
 scrollbar-shadow-color: FFFFC8;
 scrollbar-track-color: FFFFC8;
}
